title: RC Car Solidworks Model
author: Alex Louden
date: 19-05-2010

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

In 2010, I studied a unit at UWA called MECH2401 - Engineering Design and Visual Communication. We competed in a [challenge](https://www.engineersaustralia.org.au/engineering-design/2010-weir-minerals-design-build-competition) that required us to design and build a system to transport a payload across a track using two vehicles.

Our team based one of our vehicles on an off the shelf remote control car. During the semester I caught the flu, so I kept busy by disassembling the car, measuring every component with calipers and modelling it in Solidworks. The result is the following CAD model:

[![RC car render](/static/images/rc_car/render_white_sm.jpg)](/static/images/rc_car/render_white.jpg)

All the parts except standard fasteners were drawn and rendered by hand - no downloaded content was used. We did terribly in the competition (our car drove off the ravine in the first few seconds), but we got good marks for our presentation.

[![RC car render](/static/images/rc_car/warman_car_sm.jpg)](/static/images/rc_car/warman_car.jpg)

{% endfilter %}
{% endblock %}