title: Unearthed Sign
date: 10-11-2016
image: /static/images/unearthed/sign/sign-people.png

{% extends "post.html" %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static '/js/lightbox.js' %}"></script>
{% endblock scripts %}

{% block body %}
{% filter markdown %}

![](/static/images/unearthed/sign/sign-people.png)

[Unearthed](http://unearthed.solutions/) are a small company based in Perth who run resources-focused hackathons and an accelerator. They were moving into [Core](http://www.corehub.com.au), a new co-working space in Perth CBD, and wanted an industrial style sign to suit the space.

We decided on something simple - a 2 meter wide steel frame, sheet steel front with frosted Acrylic behind, backlit with LED strips.

When the acrylic, water jet cut steel sheet and LED strips arrived I welded a simple frame from 65mm steel angle. The LED strips were attached to a backing board made of 3mm ply, soldered to a power supply with IR remote. The acrylic was attached to the steel sheet with 3M VHB tape. The front steel and acrylic was then attached to welded tabs on the frame with stainless steel hex screws. For mounting onto the concrete wall I also welded a steel french cleat style bracket.
{% endfilter %}

{% filter lightbox %}
![Design](/static/images/unearthed/sign/design.png)
![Sheet steel](/static/images/unearthed/sign/sheet.jpg)
![Steel stock for frame](/static/images/unearthed/sign/steel.jpg)
![Stainless steel fasteners](/static/images/unearthed/sign/fasteners.jpg)
![Backlit](/static/images/unearthed/sign/sign-backlit.jpg)
![Finished sign at CORE](/static/images/unearthed/sign/sign.jpg)
{% endfilter %}

{% endblock %}
