%section

  // 600px wide centered
  .content
    max-width: 600px
    margin: 0 auto
    padding: 150px 40px

  h1
    text-align: center
    margin-bottom: 40px
    letter-spacing: 4px
 
  +mobile
    .content
      padding: 80px 35px


%post_list_styles
  margin-top: 50px
  
  a
    color: #333
    display: block
    font-weight: 400
    font-family: $helvetica
    font-size: 19px
    line-height: 1.7 

  h2
    font: normal 17px/1.5em $helvetica
    color: $posts_subtitle_gray
    max-width: 400px
    margin-top: 2px

  li
    list-style-type: none
    &:last-child
      margin-bottom: 0

  li+li
    padding-top: 20px
    border-top: 1px solid #eee

  .dates
    float: right
    position: relative
    top: 1px
    font: 300 17px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif
    color: $posts_subtitle_gray

.home
  // every second section has grey background
  section:nth-child(odd)
    background-color: #eee

////////////////////////////////////////////
//                  About                 //
////////////////////////////////////////////

.about
  @extend %section

  +display(flex)
  min-height: 70vh // take up most of the viewport
 
  .content
    margin: auto
    padding-top: 40px
    padding-bottom: 150px

  h1
    font-size: 28px
    line-height: 1.3
    letter-spacing: 0.2px
    margin-bottom: 0

  +mobile
    h1
      font-size: 22px
      margin-bottom: 0

    .content
      padding-top: 50px
      padding-bottom: 50px

////////////////////////////////////////////
//                  Posts                 //
////////////////////////////////////////////

.posts
  @extend %section

  ul
    @extend %post_list_styles

////////////////////////////////////////////
//                Projects                //
////////////////////////////////////////////

.projects
  @extend %section

  ul
    @extend %post_list_styles

////////////////////////////////////////////
//                 Contact                //
////////////////////////////////////////////

.contact
  @extend %section

  text-align: center

  .logo
    +logo
    margin-top: 30px
    margin-bottom: 20px

  h3
    font-family: $header_font
    font-size: 25px
    letter-spacing: 3px
    margin-bottom: 50px

  .details
    font-family: $serif_font
    font-size: 17px
    font-variant: small-caps
  
    &, a
      color: $almost_black

    div
      margin-bottom: 5px

    div:nth-child(2n+1)
      // Add a gap every 2 links
      margin-bottom: 25px
