@mixin logo($size: 60px)
  display: inline-block
  margin: 0

  & > svg
    +size($size $size)

@mixin gradient_underline()
  @include linear-gradient(to top, black, white, $fallback: transparent)
  background-size: auto 1.2px
  background-position: bottom center
  background-repeat: repeat-x

@mixin nav_underline($colour: black, $overlap: 1px)
  // Link underlines
  &:after
    content: ""
    position: absolute
    border-bottom: 1px solid $colour
    bottom: -3px // underneath
    left: 0
    right: 0
    height: 1px
    +transition(border-color 0.1s ease-in)

////////////////////////////////////////////
//                 Header                 //
////////////////////////////////////////////

header
  text-align: center
  padding-top: 30px
  padding-bottom: 30px

  background-color: white

  .logo
    +logo

body.home
  // Only home has fixed nav
  padding-top: 184px

  header
    position: absolute
    top: 0
    width: 100%
    z-index: 10

    &.fixed
      position: fixed

      // Hide logo upwards
      +transform(translateY(-100px))

      border-bottom: 1px solid tint(white, 0.1)
      padding-top: 15px
      padding-bottom: 15px

nav
  font-size: 16px
  line-height: 2
  font-family: $serif_font
  margin-top: 30px

  a
    position: relative
    color: $almost_black
    font-variant: small-caps

    padding-left: 5px
    margin-left: 15px
    margin-right: 15px
    letter-spacing: 1px

    +nav_underline(transparent)

    $hover_gray: tint($almost_black, 70%)

    &:hover
      color: $almost_black
      &:after
        border-color: $hover_gray

    &.active
      &:after
        border-color: black

  +mobile
    // on large phones center nav for 2+2
    max-width: 300px
    margin-left: auto
    margin-right: auto

    a
      margin-left: 20px
      margin-right: 20px

