////////////////////////////////////////////
//                 Layout                 //
////////////////////////////////////////////

article.post
  margin: 80px 0 0 0

  padding: 100px 40px 100px 40px
  max-width: 600px
  margin: 0 auto

////////////////////////////////////////////
//         Typography and Spacing         //
////////////////////////////////////////////

article.post

  h1, h2.headline
    text-align: center

  // Headings and paragraphs
  h1, h3, h4, h5, p
    margin-bottom: 20px

  p
    line-height: 1.7
  
  // Lists and blocks
  .post-body ul, .post-list li, pre
    margin-bottom: 20px

  h2
    font: italic 19px/1.3em Georgia,serif
    color: #bbb
    margin-bottom: 20px
    color: inherit
    font: 400 18px/1.7em $helvetica

  h2.headline
    font: italic 22px/1.3em Georgia,serif
    color: #aaa
    margin: -5px 0 40px 0

  footer
    font-size: 13px
    font-weight: bold
    margin-bottom: 40px
    line-height: 1.4
    border-top: 1px solid #eee
    padding-top: 40px
    margin-top: 80px
    color: #444

  div span
    color: #666
    color: #333
    color: #aaa
    font-weight: 500
    display: block

  div
    margin: 0 25px 0 0
    float: left

  a
    color: #5694f1
