@import "reset"
@import "bourbon/bourbon"

////////////////////////////////////////////
//            Colours and Fonts           //
////////////////////////////////////////////

$body_grey: #666
$almost_black: tint(black, 5%)
$link_blue: #5694f1
$posts_subtitle_gray: #aaa

$hover_blue: #327e97

// Fonts
$header_font: 'Quicksand', sans-serif
$serif_font: 'Playfair Display', serif
$body_font: $helvetica
$code_font: Menlo, Monaco, Courier

////////////////////////////////////////////
//                  Body                  //
////////////////////////////////////////////

html, body
  height: 100%

body
  font: 16px/1 $body_font
  color: $body_grey
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility

h1
  font-family: $header_font
  font-weight: 400
  font-size: 30px
  color: $almost_black
  letter-spacing: 0.2px

h2
  font-family: $serif_font
  // font-variant: small-caps
  color: $almost_black
  line-height: 1.6

a
  text-decoration: none

  &:hover
    color: $hover_blue

b, strong
  font-weight: bold
em, i
  font-style: italic

////////////////////////////////////////////
//                Sections                //
////////////////////////////////////////////

@import 'utils'
@import 'nav'
@import 'home'
@import 'post'

// +animation(bounce 0.5s ease-in infinite alternate)
// +keyframes(bounce)
//   0%
//     +transform(translateX(0px))
//   100%
//     +transform(translateX(5px))


// Responsiveness
/*=====================*/

// @media screen and (max-width: 540px) {
// .wrapper { padding:20px 20px 20px 20px;}
// #header { margin-bottom: 60px; border-bottom: 1px solid #eee; }
// .post { margin: 40px 0; }
// #footer { margin-top: 60px; }

// .post-list, #archive-list { margin-top: 0; }
// #post-meta { margin-top: 60px; }

// #title { font-size: 17px; }
// .post-list .dates { display: none; }

// .post-list-footer { margin-top: 20px; padding-top: 40px; }

// h1 { font-size: 26px; }
// .post h2.headline { font-size: 20px; }
// }