@import "compass/reset"
@import "bourbon/bourbon"
@import "default"

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


$header_font: 'Quicksand', sans-serif
$serif_font: 'Playfair Display', serif

$almost_black: tint(black, 5%)


@import 'utils'
@import 'nav'


// +animation(bounce 0.5s ease-in infinite alternate)
// +keyframes(bounce)
//   0%
//     +transform(translateX(0px))
//   100%
//     +transform(translateX(5px))