title: The Art of Profitability
date: 10-11-2014

{% extends "post.html" %}
{% block body %}

{% filter markdown %}


After reading Leo Polovets' [review](http://codingvc.com/the-art-of-profitability) of *The Art of Profitability* by Adrian Slywotzky, I was inspired to give the book it a read. The book tells the story of an exceptional businessman and his protégé, Steve Gardner, a strategic planner at a multinational conglomerate. The author turns a traditionally dry and boring topic (business strategy) into a relaxed, thought provoking read. 

Some of the profit models discussed:


#### Pyramid Profit

Organise your products/services into several tiers, to appeal to different customer segments:

- Basic version, defensively priced to keep competition out of the market (no way to undercut you)
- Standard product to appeal to most users
- Deluxe version for customers willing to pay more 

The example given in the book were Barbie Dolls - a cheap version for young children, a standard barbie, and a collector's edition.

Leo mentions car badges (standard, deluxe, special edition), and SaaS pricing (free/standard/enterprise).


#### Multi-component profit

Users in different contexts will pay more for the same item. E.g. Coke - a can from a vending machine costs significantly more than a 2L bottle. 

Other contexts:

- urgency (e.g. time critical tasks, fast turnaround/delivery)
- convenience (e.g. drive-through coffee)


{% endfilter %}
{% endblock body %}
