{% extends "base.html" %}

{% block header %}
<header>
  <a class="logo" href="/">
    {% include 'logo.svg' %}
  </a>
  <nav>
    <a href="/" class="active">about</a>
    <a href="#">posts</a>
    <a href="#">projects</a>
    <a href="#">contact</a>
  </nav>
</header>
{% endblock header %}

{% block content %}

<section class="about">
  <div class="content">
    <h1>About</h1>
    <h2>Alex Louden is a mechatronic engineer with a passion for software, robotics and the web. He focuses on building scalable systems on cloud computing platforms.</h2>
  </div>
</section>

<section class="posts">
  <div class="content">

    <h1>Posts</h1>
    <ul class="post-list">
      {% for post in posts %}
      <li> 
        <a href='/{{ post.path }}'><aside class="dates">{{ post.date|date:"M j" }}</aside></a>
        <a href='/{{ post.path }}'>{{ post.title }} <h2>{{ post.headline }}</h2></a>
      </li>
      {% endfor %}
    </ul>

  </div>
</section>

<section class="projects">
  <div class="content">

    <h1>Projects</h1>
    <ul class="post-list">
      {% for project in projects %}
      <li> 
        <a href='/{{ project.path }}'><aside class="dates">{{ project.date|date:"M j" }}</aside></a>
        <a href='/{{ project.path }}'>{{ project.title }} <h2>{{ project.headline }}</h2></a>
      </li>
      {% endfor %}
    </ul>

  </div>
</section>

<section class="contact">
  <div class="content">
    <h1>Contact</h1>
    
    <span class="logo">{% include 'logo.svg' %}</span>
    <h3>Alex Louden</h3>
    
    <div class="details">
      <div>perth australia</div>
      <div><a href="tel:+61433807123">+61 433 807 123</a></div>
      <div><a href="mailto:alex@louden.com">alex@louden.com</a></div>

      <div><a href="https://github.com/alexlouden/">github</a></div>
      <div><a href="https://stackoverflow.com/users/1129194/alex-l/">stack overflow</a></div>
    </div>
    </div>
  </div>
</section>

{% endblock content %}
