{% extends "base.html" %}
{% block content %}

  <header id="header">
    <a id="title" class="index">
      {% include 'logo.svg' %}
    </a>
    <h1>
      Alex Louden
    </h1>
  </header>
<section class="wrapper">
  
  <ul class="post-list">
  	{% for post in posts %}
  	<li> 
  		<a href='/{{ post.path }}'><aside class="dates">{{ post.date|date:"M j" }}</aside></a>
  		<a href='/{{ post.path }}'>{{ post.title }} <h2>{{ post.headline }}</h2></a>
  	</li>
  	{% endfor %}
  </ul>
  
  {% block footer %}
  <footer id="footer">
    <p class="small">A short description.</p>
  </footer>
  {% endblock footer %}

</section>
{% endblock content %}
