{% extends "homepage.html" %}

{% block blurb %}

Alex Louden is a mechatronic engineer with a passion for software, robotics and the web. He focuses on building scalable systems on cloud computing platforms.

{% endblock blurb %}

{% block details %}
{% filter markdown %}

perth australia

[+61 433 807 123](tel:+61433807123)

[alex@louden.com](mailto:alex@louden.com)

[github](https://github.com/alexlouden/)

[stack overflow](https://stackoverflow.com/users/1129194/alex-l/)

{% endfilter %}
{% endblock details %}