<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}Alex Louden{% endblock %}</title>
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
	<link rel="alternate" type="application/rss+xml" title="Feed" href="/rss.xml">
	{% block styles %}{% endblock styles %}

	<link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static '/images/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" href="{% static '/images/favicon-16x16.png' %}" sizes="16x16">
	<link rel="icon" type="image/png" href="{% static '/images/favicon-32x32.png' %}" sizes="32x32">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description }}">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@alexlouden" />
	<meta name="twitter:title" content="{{ title }}" />
	<meta name="twitter:description" content="{{ description }}" />
	<meta name="twitter:image" content="{{ image }}" />

	{# Preload h1 font #}
	<link rel="preload" href="{% static "fonts/quicksand.woff2" %}" as="font">
	<link rel="preload" href="{% static "fonts/playfair-display.woff2" %}" as="font">
</head>
<body class="{% block body_class %}home{% endblock body_class %}">

	{% block header %}
	Header
	{% endblock header %}

	{% block content %}
	Main content
	{% endblock content %}

	{% block scripts %}
	<script src="{% static "js/jquery.min.js" %}"></script>
	{% endblock scripts %}
</body>
</html>
