{% extends "base.html" %}
{% block title %}{{ title }} | Cactus{% endblock title %}

{% block body_class %}post{% endblock body_class %}

{% block content %}
<header>
  <a class="logo" href="/">
    {% include 'logo.svg' %}
  </a>
</header>

<article class="post">
	
	<h1>{{ title }}</h1>
	<h2 class="headline">{{ headline }} </h2>

	<section>
		{% block body %}
		This is where the post contents is.
		{% endblock body %}
	</section>
		
	<footer>
		<div><span>Posted on </span> {{ date|date:"M j" }}</div>
		<div><span>Written by</span> {{ author }}</div>
	</footer>
</article>

<footer>
	<nav id="post-nav">
		<span class="prev">
			{% if prevPost %}
				<a href='/{{ prevPost.path }}'>
					<span class="arrow">&larr;</span> {{ prevPost.title }}
				</a>
			{% endif %}
		</span>
		
		<span class="next">
			{% if nextPost %}
				<a href='/{{ nextPost.path }}'>
					{{ nextPost.title }} <span class="arrow">&rarr;</span>
				</a>
			{% endif %}
		</span>
	</nav>
</footer>
{% endblock content %}