{% extends "base.html" %}
{% block title %}{{ title }} | Alex Louden{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block body_class %}post{% endblock %}

{% block scripts %}
{{ block.super }}
	<script src="{% static '/js/prism.js' %}"></script>
{% endblock scripts %}

{% block header %}
<header>
  <a class="logo" href="/">
    {% include 'logo.svg' %}
  </a>
</header>
{% endblock header %}

{% block content %}
<article class="post">

	<section class="top">
		<h1>{{ title }}</h1>
		<aside>{{ date|date:"F Y" }}</aside>
	</section>

	<section class="main">
		{% block body %}
		This is where the post contents is.
		{% endblock body %}
	</section>

</article>

{% if prevPost or nextPost %}
<footer class="post">
	<span class="prev">
		{% if prevPost %}
			<a href='/{{ prevPost.path }}'>
				<span class="arrow">&larr;</span> {{ prevPost.title }}
			</a>
		{% endif %}
	</span>

	<span class="next">
		{% if nextPost %}
			<a href='/{{ nextPost.path }}'>
				{{ nextPost.title }} <span class="arrow">&rarr;</span>
			</a>
		{% endif %}
	</span>
</footer>
{% endif %}
{% endblock content %}